@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root
{
  height: 100%;
}

.body-bg
{
  background: #ffffff;
}


.main-container section, .header-nav
{
  background: #f1f5f9;
}